<% if (users != ''){%>
<table class="table table-striped text-center my-3">
<thead class="table-dark">
<tr>
    <th>Id</th>
    <th>Image</th>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Department</th>
    <th>Admin-1</th>
    <th>Phone</th>
 
</tr>
</thead>  
<tbody>
<!-- for each ejs -->
<% users.forEach((row, index) =>{ %>
    <tr class="align-middle">      
        <td><%= index %> </td>
        <td><img src="http://localhost:3000/userimages/<%= row.image %>" width="50%" class="img-thambnail"></td>
        <td><%= row.name %> </td>
        <td><%= row.email %> </td>
        <td><%= row.department %> </td>
        <td><%= row.is_admin %> </td>
        <td><%= row.mobile %> </td>                  
     
    </tr>                            
<% }) %>               
</tbody>
</table> 
<% } else { %>
    <h1 class="text-center text-secondary mt-5">No Users Found in the Database !</h1>
<% } %>